$color_1: #fff;
$font_family_1: sans-serif;

html {
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.battery-box {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	flex-direction: column;
	text-align: center;

	h1 {
		color: #22a0ce;
		margin-top:75px;
	}
}
.battery {
	height: 72px;
	width: 200px;
	border: 1px solid #f0f0f0;
	position: relative;
	background: #f0f0f0;
	border-radius: 4px;
	background: linear-gradient(#f0f0f0 0%, ghostwhite 50%, #ddd 100%);
	box-shadow: 0px 1px 3px #bbb;
	margin-top: 50px;
	&::before {
		content: ' ';
		position: absolute;
		top: 25px;
		width: 4px;
		height: 22px;
		left: -4px;
		background: #bbb;
	}
	&::after {
		content: ' ';
		position: absolute;
		top: 25px;
		width: 4px;
		height: 22px;
		left: -4px;
		background: #bbb;
		content: ' ';
		position: absolute;
		top: 25px;
		width: 4px;
		height: 22px;
		right: -4px;
		left: auto;
		background: #bbb;
	}
	.inner {
		width: 100%;
		height: 100%;
	}
	.value {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 19px;
		color: $color_1;
		text-shadow: 0px 0px 34px #999;
		font-family: $font_family_1;
		display: none;
	}
	.charging {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 19px;
		color: $color_1;
		text-shadow: 0px 0px 34px #999;
		font-family: $font_family_1;
		height: 40px;
		display: none;
	}
	.level {
		background: linear-gradient(#0c0 0%, #00aa00 50%, #0c0 100%);
		box-shadow: 0 0 10px #0c0;
		height: 100%;
		display: block;
		width: 0%;
	} 
}